# Ignorar modelo pesado
multilingual_clip_encoder/
sbert_model/
*.safetensors

# Ignorar entornos virtuales
.venv/

# Ignorar cachés de Python
**/__pycache__/
*.pyc

# Ignorar los .envs

ssa-db_params.env
.env

# Ignorar data

data/